body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  font-size: 700%;
  margin-top: 200px;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
.top-container{
  background-color: #BFEAF5;
  position: relative;
  padding-top: 100px;
}
.middle-container{
}

.bottom-container{
}

.co{
  text-decoration: underline;
}

.bottom-cloud{
  position: absolute;
  left:30%;
  bottom: 300px;

}

.top-cloud{
  position: absolute;
  right: 30%;
  top: 50px;
}

.pozacatalin{
  height: 300px;
  width: 300px;
}

.pozavolei{
  height: 300px;
  width: 300px;
}

.pozaweb{
  height: 300px;
  width: 300px;
}
.footer-link{
  color: #11999E;
}
